<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/common.css" rel="stylesheet">
<link href="/guestbook.css" rel="stylesheet">

<title>방명록 (K8S)</title>
</head>
<body>
	<p>
		1. 삶이 있는 한 희망은 있다 -키케로<br>
		2. 산다는것 그것은 치열한 전투이다. -로망로랑<br>
		3. 하루에 3시간을 걸으면 7년 후에 지구를 한바퀴 돌 수 있다. -사무엘존슨<br>
		4. 언제나 현재에 집중할수 있다면 행복할것이다. -파울로 코엘료<br>
		5. 진정으로 웃으려면 고통을 참아야하며 , 나아가 고통을 즐길 줄 알아야 해 -찰리 채플린<br>
		6. 직업에서 행복을 찾아라. 아니면 행복이 무엇인지 절대 모를 것이다 -엘버트 허버드<br>
		7. 신은 용기있는자를 결코 버리지 않는다 -켄러<br>
		8. 행복의 문이 하나 닫히면 다른 문이 열린다 그러나 우리는 종종 닫힌 문을 멍하니 바라보다가<br>
		9.우리를 향해 열린 문을 보지 못하게 된다 – 헬렌켈러<br>
		10. 피할수 없으면 즐겨라 – 로버트 엘리엇
	</p>
	<div class="guestbook list displaynone" style="display: block;">
		<ul class="cont">
			<li>
				<p class="memo">
HealthCheck : This is v1 running in pod [[${host.name}]] ([[${host.ip}]])
				</p>
			</li>
		</ul>
	</div>
	
	<h4 class="g-top">방명록 v1</h4>
	<div class="top-img">
		<img src="/bg-guestbook.jpg">
	</div>
	<form action="/" method="post" id="frm" enctype="multipart/form-data">
		<div class="g-cont">
			<ul>
				<li class="name"><input name="name" type="text" maxlength="20" placeholder="이름" class="form-control"></li>
				<li class="msg"><textarea name="content" maxlength="200" placeholder="내용을 입력해주세요" class="form-control" rows="3"></textarea></li>
				<li>파일첨부<input type="file" name="uploadingFile"></li>
			</ul>
			<p class="btn btn-lg" onclick="document.getElementById('frm').submit();">방명록 남기기</p>
		</div>
	</form>

	<div class="guestbook list displaynone" style="display: block;">
		<ul class="cont">
			<li th:each="post : ${posts}">
				<p class="name" th:text="${post.name}"></p>
				<p class="date"  th:text="${post.writeDate}"></p>
				<p class="memo"  th:text="${post.content}"></p>
				첨부파일&nbsp;:&nbsp;<a th:href="@{'/downloadFile/' + ${post.attachedFile}}" th:text="${post.attachedFile}"></a>
			</li>
		</ul>
	</div>
</body>
</html>